<ion-header>
  <ion-toolbar>
    <ion-title>新規登録</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">

    <strong>新規登録</strong>

    <form [formGroup]="signUpForm">
      <ion-list class="ion-margin-vertical">
        <ion-item>
          <ion-input placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item *ngIf="waitForConfirmSignUp$ | async">
          <ion-input placeholder="code" formControlName="code"></ion-input>
        </ion-item>
        <ion-item *ngIf="!(waitForConfirmSignUp$ | async)" >
          <ion-input placeholder="Password" type="password" formControlName="password"></ion-input>
        </ion-item>
      </ion-list>
    </form>

    <ion-button color="success" expand="full" class="ion-margin-vertical" (click)="onConfirmSignUp()"
      [disabled]="!signUpForm.valid" *ngIf="waitForConfirmSignUp$ | async">
      コードを確認する
    </ion-button>

    <ion-button color="success" expand="full" class="ion-margin-vertical" (click)="onRequestSignUp()"
      [disabled]="!signUpForm.valid" *ngIf="!(waitForConfirmSignUp$ | async)">
      新規登録
    </ion-button>

    <ion-button color="success" fill="clear" class="ion-margin-vertical" (click)="goToConfirmPhase()" *ngIf="!(waitForConfirmSignUp$ | async)">
      コード入力
    </ion-button>
  </div>
</ion-content>