<ion-header>
  <ion-toolbar>
    <ion-title>パスワード再設定</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong>パスワード再設定</strong>
    <form [formGroup]="forgotPasswordForm">
      <ion-list class="ion-margin-vertical">
        <ion-item>
          <ion-input placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item *ngIf="waitCodeAndNewPassword$ | async">
          <ion-input placeholder="code" formControlName="code"></ion-input>
        </ion-item>
        <ion-item *ngIf="waitCodeAndNewPassword$ | async">
          <ion-input placeholder="New Password" type="password" formControlName="newPassword"></ion-input>
        </ion-item>
      </ion-list>
    </form>
    <ion-button color="success" expand="full" class="ion-margin-vertical" 
      (click)="onForgotPasswordSubmit()" [disabled]="!forgotPasswordForm.valid" *ngIf="waitCodeAndNewPassword$ | async">
      パスワードを再設定する
    </ion-button>
    <ion-button color="success" expand="full" class="ion-margin-vertical" 
      (click)="onForgotPasswordRequest()" [disabled]="!forgotPasswordForm.valid" *ngIf="!(waitCodeAndNewPassword$ | async)">
      パスワードのリセットを要求
    </ion-button>
  </div>
</ion-content>
