<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My ToDo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My ToDo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Login</strong>
    <p>さあ始めましょう。</p>
    <ion-list class="ion-margin-vertical">
      <ion-item>
        <ion-input placeholder="Email" name="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Password" type="password" name="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button color="primary" expand="full" class="ion-margin-vertical" (click)="onLoginClicked()">
      Login
    </ion-button>
    <p>
      {{ isAuthenticated$ | async }}
    </p>
  </div>
</ion-content>